<div class="container">
  <%# QUESTION %>
  <%= render 'question_info', question: @question %>
  <%# ANSWERS TO THE QUESTION %>
  <% @question.answers.each do |answer| %>
    <%= render 'answers/answer_info', answer: answer %>
  <% end %>
</div>
