// Define variables for your color scheme


$blue: #084fff;
$light-blue: #E8F5FD;
$dark-blue: hsl(223, 94%, 45%);
$grey: #E7E7E8;
$light-grey: #F7F7F7;
$white: #FFFFFF;
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$gold: #fece00;
$dark-grey: #3d3d3d;
