// Define variables for your color scheme

$almost-black: #0f0000;
$dark-grey: #3d3d3d;
$grey: #E7E7E8;
$light-grey: #f0f0f0;
$lightest-grey: #F7F7F7;

$dark-blue: #0322d5;
$blue: #002afe;
$light-blue: #E8F5FD;

$orange: #f2a00c;
$gold: #f2ca0c;
$yellow: #f6e33d;

$white: #FFFFFF;
$red: #FD1015;
$green: #1EDD88;
