

.borders {
  border-right: 1px solid $grey;
  border-left: 1px solid $grey;
}

.question-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 100%;
  padding-left: 0px;
  padding-right: 0px;
  border-top: 1px solid $grey;
}

.user-card {
  // flex-grow: 1;
  display: flex;
  flex-direction: row;
  padding: 30px;
  transition: all 0.1s ease;

}



.user-card:hover {
  background-color: $lightest-grey;
}


.left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-right: 1rem;

  .wrap {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .count {
      margin: .25rem 0;
      padding: 0;
      color: $almost-black;
      text-align: center;
    }

    a {
      text-decoration: none;
      ;
    }

    .upvote,
    .downvote {
      font-size: 1.5rem;
      color: $dark-grey;
      text-align: center;
      background: none;
      border-radius: 50px;
      padding: .25rem .75rem;
      transition: background 0.3s ease;
    }

    .upvote:hover {
      background: rgba(30, 221, 136, .1);
      color: $green;
    }

    .downvote:hover {
      background: rgba(247, 35, 129, .1);
      color: $red;
    }
  }




}

.right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 12.5px;
  position: relative;

  p {
    font-size: 14px;
    margin: 5px 0;
  }

  .selected-answer {
    display: flex;
    align-items: center;
    margin-top: 2.75rem;

    i {
      color: $green;
      font-size: 2.2rem;
      display: flex;
      margin-right: .5rem;
      position: absolute;
      bottom: 0;
      right: 56px;
    }

    p {
      color: $light-grey-text;
      line-height: 1rem;
      position: absolute;
      bottom: -4px;
      right: 0;
    }
  }

  .questionimage {
    margin-bottom: .5rem;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    max-width: 500px;
    max-height: 380px;
  }

}

// .university {
//   max-width: 30ch;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }


.user-bio {
  margin-bottom: .5rem;

  p {
    width: 100%;
    word-break: break-all;
  }

  #time-ago {
    color: $light-grey-text;
  }
}

//Question content

.question-content {

  a {
    text-decoration: none;
  }

  h5 {
    font-size: 20px;
    color: $almost-black;
  }

  p {
    width: 100%;
    word-break: break-all;
    line-height: 1.5rem;
  }
}

.tags {
  max-width: 50ch;
}

.tags-index {

  .tag {
    font-size: .75rem;
    padding: 4px 12px;
    margin-right: .25rem;
    background-color: $light-grey;
    border-radius: 4px;
  }

  p {
    line-height: 2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.tags-question-show {

  .tag {
    font-size: .75rem;
    padding: 4px 12px;
    margin-right: .25rem;
    background-color: $light-grey;
    border-radius: 4px;
  }

  p {
    line-height: 2rem;
  }
}

#questionwrapper {
  padding: 0;
  margin: 0;
}

.page-links {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

  .pagination {
    .current {
      font-style: normal;
      background-color: $light-grey;
      color: $blue;
      border: none;
    }

    .previous_page, a,
    em {
      margin: 0 .25rem;
      padding: .15rem .65rem;
      text-decoration: none;
      border-radius: 50px;
      color: $almost-black;
    }

    .previous_page:hover, a:hover,
    em:hover {
      background-color: $grey;
    }
  }
}

.gif-wrapper {
  display: flex;
  flex-direction: column;
}

// MEDIA QUERIES

@media (min-width: 200px) {
  .title {
    max-width: 20ch;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
  }

  .tags {
    max-width: 20ch;
  }

  .questionimage {
    max-height: 220px;
  }
}

@media (min-width: 400px) {
  .title {
    max-width: 20ch;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
  }

  .tags {
    max-width: 20ch;
  }

  .questionimage {
    max-height: 280px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .title {
    max-width: 30ch;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
  }

  .tags {
    max-width: 30ch;
  }

  .questionimage {
    max-height: 320px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 1000px) {
  .title {
    max-width: 40ch;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
  }

  .tags {
    max-width: 40ch;
  }

  .questionimage {
    max-height: 380px;
  }
}
