.index-header,
.answers-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.update-form {
  padding: 10px;
}

.leave-an-answer {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  z-index: 2;

  .answer-form textarea {
      border-radius: 50px;
      border: none;
      min-height: 60px;
      resize: both;

    &:focus {
      border: none;
    }

    // .leave-answer-button {
    // }

  }
}

// @media only screen and (max-width: 400px) {

// }
