<footer id="footer-2-cols" class="site-footer">
    <div id="footer-container">
        <div id="footer-grid">
          <div id="left-footer-section" class="footer-section">
            <div class="footer-information">
                <p><img src="https://img.icons8.com/ios-filled/12/999999/marker.png">Based in Australia</p>
                <p><img src="https://img.icons8.com/ios-filled/12/999999/phone.png">(+61) 1234 567</p>
                <p><img src="https://img.icons8.com/ios-filled/12/999999/mail.png">info@learnest.com.au</p>
            </div>
          </div>
          <div id="right-footer-section" class="footer-section">
            <div class="footer-links">
                <ul>
                    <li role="menuitem"><a href="/home">Home</a></li>
                    <li role="menuitem"><a href="/about">About</a></li>
                </ul>
            </div>
          </div>
        </div>
        <div id="copyright-information">
          <div id="footer-logo-section"></div>
          <div id="social-buttons">
            <img src="https://img.icons8.com/ios-filled/25/999999/facebook--v1.png"/>
            <img src="https://img.icons8.com/ios-filled/25/999999/telegram-app.png"/>
            <img src="https://img.icons8.com/ios-filled/25/999999/pinterest--v1.png"/>
            <img src="https://img.icons8.com/ios-filled/25/999999/instagram--v1.png"/>
          </div>
        </div>
    </div>
</footer>
