<div class="container my-5">
  <div class="row">
    <div class="col-md-6 pt-3">
      <small class="text-uppercase" style="color: #ffc845;">About us</small>
      <h1 class="h2 mb-4" style="font-weight: 600;">About Our <span style="color: #ffc845;">Learnest</span></h1>
      <p class="text-secondary" style="line-height: 2;">Learnest is an exciting online question and answer community which aims to revolutionize the way questions are answered online. Whether you need to know the answer to a burning question, or you're bursting with knowledgeable answers and experiences you can't wait to share, Learnest will provide you with the answers you are looking for.</p>
    </div>
    <div class="col-md-6 text-center">
      <div class="row">
        <div class="col-md-6 mb-3">
          <%= image_tag("Student.JPG", class: "w-100 h-100 rounded", alt: "") %>
        </div>
        <div class="col-md-6 mb-3">
          <%= image_tag("Online.JPG", class: "w-100 h-100 rounded", alt: "") %>
        </div>
      </div>
    </div>
  </div>
</div>
