<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-12 col-md-6">
      <h1 class="h2 mb-4" style="font-weight: 600;">Welcome to Learnest</h1>
      <p class="text-secondary" style="line-height: 2;">Learnest is a question and answer website created for post-secondary students, teachers, academics and lifelong learners. A team of passionate full-stack developer students created it with Le Wagon coding bootcamp.</p>
    </div>
    <div class="col-12 col-md-6 p-3">
      <%= image_tag("LeWagon-787.jpg", style: "width: 100%; border-radius: 24px;", alt: "LeWagon batch 787") %>
    </div>
  </div>
</div>
