<<<<<<< HEAD
<div class="banner">
  <div class="container mt-5">
    <h1>Search your <strong>global campus.</strong></h1>
    <h5>Find answers to your course questions.</h5>
    <a class="btn btn-primary" href="#">Ask a question</a>
  </div>
</div>
=======
>>>>>>> f5db6e9e8a14b8364f889652ec0d78cc64e24153
