.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}

.avatar-largest {
  width: 100px;
  min-width: 100px;
  height: 100px;
  min-height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-notification {
  position: absolute;
  top: 34px;
  right: 4px;
  width: 10px;
  height: 10px;
  background-color: crimson;
  border-radius: 50%;
  z-index: 1
}

// XSmall devices (landscape phones, 576px and up)
@media (min-width: 400px) {
  .avatar-notification {
    position: absolute;
    top: 34px;
    left: 26px;
    width: 10px;
    height: 10px;
    background-color: crimson;
    border-radius: 50%;
    z-index: 1
  }
}
