.btn-blue {
  text-decoration: none;
  background-color: $blue;
  padding: .75rem 2.5rem;
  color: white;
  font-size: 15px;
  border-radius: 9999px;
  transition: background-color .3s ease;
  border-width: 1px;
  // min-height: 52px;
  // min-width: 52px;
  border-style: solid;
  font-weight: bold;
  font-size: 1.15rem;
}

.btn-blue:hover {
  background-color: $dark-blue;
  color: white;
}

.btn-sort {
  padding: 0.75rem 1rem;
  background-color: #f0f0f0;
  transition: background-color .3s ease;
  border-radius: 50px;

  &:focus, &:hover {
    box-shadow: none;
    background-color: #E7E7E8;
  }
}

.btn-orange {
  text-decoration: none;
  background-color: $yellow;
  padding: .75rem 2.5rem;
  color: $almost-black;
  font-size: 15px;
  border-radius: 9999px;
  transition: background-color .3s ease;
  border-width: 1px;
  border-style: solid;
  font-weight: bold;
  font-size: 1.15rem;
  min-width: 52px;
}

.btn-orange:hover {
  background-color: $gold;
  color: $almost-black;
}

.dropdown-menu {
  border: none;
  border-radius: 16px;
  background-color: #f0f0f0;
}

// .btn-answer {
//   text-decoration: none;
//   background-color: #1D9BF0;
//   padding: 4px 12px;
//   color: white;
//   font-size: 12px;
//   border-radius: 0px, 50%, 50%, 0px;
//   transition: .3s;
//   border-width: 1px;
//   min-height: 52px;
//   min-width: 52px;
//   border-style: solid;
//   font-weight: solid;
// }
