.container-index {
  width: 35vw;
  margin-bottom: 8rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
}

// XSmall devices (landscape phones, 576px and up)

@media (min-width: 200px) {
  .container-index {
    width: 90vw;
    margin-bottom: 8rem;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 400px) {
  .container-index {
    width: 90vw;
    margin-bottom: 8rem;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-index {
    width: 75vw;
    margin-bottom: 8rem;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container-index {
    width: 70vw;
    margin-bottom: 8rem;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
}

// (desktops, 850px and up)
@media (min-width: 850px) {
  .container-index {
    width: 65vw;
    margin-bottom: 8rem;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-index {
    width: 65vw;
    margin-bottom: 8rem;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
}


@media (min-width: 1150px) {
  .container-index {
    width: 55vw;
    margin-bottom: 8rem;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1300px) {
  .container-index {
    width: 55vw;
    margin-bottom: 8rem;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
}

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) {
//   ...
// }

.container-question {
  margin-bottom: 8rem;
}

.container-about {
  margin-bottom: 8rem
}