.container-index {
  width: 35vw;
  margin: 0 auto;
}

// XSmall devices (landscape phones, 576px and up)
@media (min-width: 400px) {
  .container-index {
    width: 95vw;
    margin: 0 auto;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-index {
    width: 75vw;
    margin: 0 auto;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container-index {
    width: 70vw;
    margin: 0 auto;
  }
}

// (desktops, 850px and up)
@media (min-width: 850px) {
  .container-index {
    width: 65vw;
    margin: 0 auto;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-index {
    width: 65vw;
    margin: 0 auto;
  }
}


@media (min-width: 1150px) {
  .container-index {
    width: 55vw;
    margin: 0 auto;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1300px) {
  .container-index {
    width: 55vw;
    margin: 0 auto;
  }
}

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) {
//   ...
// }
