.navbar-lewagon {
  justify-content: space-between;
  background: #f7f7f7;
  // border-bottom: #282828;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  border-bottom: 1px solid #E7E7E8;

  p {
    font-family: "FS Rosa Regular";
    font-size: 32px;
    margin-bottom: 0;
  }
}
