.navbar-lewagon {
  justify-content: space-between;
  background: #ffffff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 180px;
}


.dropdown-notification {
  width: 10px;
  height: 10px;
  background-color: $red;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  bottom: 18px
}

.navbarDropdown {
  div {
    text-decoration: none;
  }
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
