.navbar-lewagon {
  justify-content: space-between;
  background: #ffffff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 180px;
}

.navbar {

  p {
    font-family: "FS Rosa Black";
    font-size: 32px;
    margin-bottom: 0;
  }
}

.dropdown-notification {
  width: 10px;
  height: 10px;
  background-color: crimson;
  border-radius: 50%;
}
